body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #141b4d !important;
}

section {
  background-color: white;
  margin-top: 150px !important;
  display: 'flex' !important;
  align-items: 'center' !important;
  justify-content: 'center' !important;
}

.fa-check-circle {
  font-size: 200px !important;
  color: green !important;
}
